[Desktop Entry]
Name=Euclid WM
Comment=Minimalist, tiling window manager that aims to allow easy management of numerous windows from the keyboard
Exec=start-euclid
Type=XSession
